@import "../../globals.scss";

.container {
  align-items: center;
  border: 2px solid $magenta;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  width: 100%;

  .inputWrapper {
    background-color: $orange;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  h2 {
    span {
      color: $orange;
    }
  }

  @include mobile {
    flex-direction: column;
  }

  .passwordInput {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    @include mobile {
      width: 100%;
    }
  }
}
