.container {
  align-items: center;
  border: 2px solid #e7005e;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  width: 100%;

  .inputWrapper {
    background-color: #fc7f03;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  h2 {
    span {
      color: #fc7f03;
    }
  }

  @media only screen and (max-width: 640px) {
    flex-direction: column;
  }

  .passwordInput {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    @media only screen and (max-width: 640px) {
      width: 100%;
    }
  }
}
