@import "../../globals.scss";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  width: 50%;

  @include mobile {
    width: 100%;
  }

  .ruleLabel {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: initial;

    p {
      margin-left: 0.5rem;

      &.correct {
        color: $magenta;
      }
    }
  }
}
