@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Oswald:wght@300;400;700&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@900&family=Oswald:wght@300;400;700&family=Poppins:wght@600&display=swap");

$title: "Montserrat", sans-serif;
$body: "Hind", sans-serif;

$orange: #fc7f03;
$midnight: #242145;
$magenta: #e7005e;

#root {
  width: 100%;
}

body {
  background-color: #252423;
  display: flex;
  font-family: $body;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

  h1,
  h2,
  h3 {
    font-family: $title;
  }
}

@mixin mobile {
  @media (max-width: 640px) {
    @content;
  }
}
